# ignore the dataset
/dataset/

# ignore the result
/results/
/result/

# tensorboard log
.0
/tensorboard/
.csv

# ignore all model file and log file
*.pth
*.log
*.png

# ignore all notebooks
*.ipynb


# python related
*.pyc
*.pyo
*.pyd
__pycache__/

# vscode
.vscode/

# ignore all hidden files
.*

# ignore files like events.out.tfevents.1702045579.lily-gpu07.1564571.0
events.out.tfevents.*

