# ignore the dataset
/dataset/

# ignore the result
/results/
/result/

# ignore all model file and log file
*.pth
*.log
*.png

# ignore all notebooks
*.ipynb


# python related
*.pyc
*.pyo
*.pyd
__pycache__/
